twine
pyinstaller
pydantic
watchfiles
aiohttp
platformdirs
numpy
pandas
scipy
openpyxl
networkx
pathfinding==1.0.17
matplotlib
simpy==4.1.1
websockets
python-socketio
pyee
aiocsv
diagrams

requests
websocket-client
openai
zhipuai

open_python

sqlmodel
tinydb
influxdb-client
influxdb3-python

python-dateutil
Pint
python-i18n
pyhumps

pytest
pytest-asyncio

colorlog
psutil
boltons
more-itertools
toolz
tabulate
faker
python-json-logger
prometheus-client

pyecharts

python_hmr
ipa-python-kit==0.0.6
